.InputWidget {
    font-size: 24px;
    text-align: left;
    margin: 20px;
    border: royalblue outset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}