.PriorityWidget {
    text-align: left;
    min-height: 50px;
    background-color: gainsboro;
    margin: 20px;
    font-size: 24px;
    font-family: "Times New Roman", sans-serif;
    display: inline-block;
}

.ActivePriority {
    color: beige;
    cursor: pointer;
}

.InactivePriority {
    color: dimgray;
    cursor: pointer;
}