.SimpleTodo {
    text-align: left;
    min-height: 50px;
    background-color: #ababab;
    margin: 20px;
    font-size: 24px;
    font-family: Dialog;
}

.LabelNormal {
    text-decoration-line: none;
    color: black;
}

.LabelStrikeThrough {
    text-decoration-line: line-through;
    color: lightgray;
}
.DeleteButton {
    margin: 20px;
    font-size: 24px;
}
