.SimpleTodo {
    text-align: left;
    min-height: 50px;
    background-color: gainsboro;
    margin: 10px;
    font-size: 24px;
    font-family: "Times New Roman", sans-serif;
    border: solid dimgray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.LabelNormal {
    text-decoration-line: none;
    color: black;
}

.LabelStrikeThrough {
    text-decoration-line: line-through;
    color: dimgray;
}
.DeleteButton {
    margin: 20px;
    font-family: "Times New Roman", sans-serif;
    font-size: 24px;
}
