.App {
  text-align: center;
}

.App-title {
  display: flex;
  height: 150px;
  flex-flow: inherit;
  flex-direction: row;
  justify-content: space-around;
  background: #cfe0f3;
}

.App-link {
  color: #61dafb;
}

