.App {
  text-align: center;
}

.App-title {
  display: flex;
  flex-flow: inherit;
  flex-direction: row;
  justify-content: center;
  background: #cfe0f3;
  color: #454b50;
}


.App-link {
  color: #61dafb;
}

