.App {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: black;
  background: linear-gradient(lightskyblue, deepskyblue);
  user-select: none;
}

button {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  margin: 20px;
}

input {
  font-size: 24px;
  margin: 20px;
}